/* Overall HTML Styling */
/* body {
  font-family: 'Questrial', sans-serif;
  color: #191919;
} */

.trailDiv img, .bikeDiv img {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  margin-bottom: 5px;
}

/* Navbar Styling */
.navbar-expand-lg {
  justify-content: center;
  background-color: #368B36;
  font-family: 'Caveat', cursive;
  color: white;
}

.navbar-expand-lg h1 {
  font-size: 3rem;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

/* Background Styling */
.main-content-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/Mountain-Banner.png");
  /* height: 50%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: fixed; */
  /* height: 650px; */
  background-size: cover;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* flex-direction: column; */
  padding-left: 32px;
  /* padding-right: 32px; */
  /* padding-top: 32px; */
}

/* .jumbotron-fluid {
  padding-left: 32px;
  padding-right: 32px;
} */



/* Content Styling */

/* Sidebar Styling */
.sidebar {
  background-color: white;
  /* height: 200px; */
  width: 20%;
  /* height: 100%; */
  background-color: #194019;
}

/* Sidebar Search Styling */
.edit-parameters {
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: white;
}

.sidebar-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.sidebar-form-text {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 5px;
  width: 90%
}

.sidebar-imput-box {
  height: 30px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

/* Primary-Column Styling */
.primary-column {
  width: 75%;
  height: 100%;
  overflow: auto;
}

/* Body Container Styling */
.trailContainer h2{
  background-color: forestgreen;
  color: white;
  border-radius: 15px 15px 0 0;
  padding: 10px 0;
  padding-left: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
.body-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
  height: 100%;
  margin: 20px 0;
  /* overflow: auto; */
}

#populateWeather {
  margin-top: 0px;
  height: 200px;
}

/* Trail Container Styling */
.trail-flexbox {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-around;
  /* height: 400px; */
  overflow: auto;
}

.trailDiv, .bikeDiv {
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  margin-bottom: 40px;
  flex-direction: column;
  width: 280px;
  /* padding: 30px; */
  background-color: white;
  box-shadow: 0px 0px 30px #888888;
  transition: transform .5s;
  border-radius: 15px;
}

.trailDiv:hover, .bikeDiv:hover {
  transform: scale(1.1);
}

.trailDiv p, .bikeDiv p {
  padding: 0 10px;
  margin-bottom: .5rem;
}

#descriptionHeader {
  font-weight: bold;
  letter-spacing: 1px;
}
