body{
  background-image: url(../images/background.png)
}
#logo {
  font-size: 74px;
  margin-bottom: -12px;
  margin-top: -14px;
  text-shadow:
    -3px -2px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
#sideNav{
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  bottom: 3px;
  left: 3px;
  width: 10%;
}

#sideNav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#sideNav a:hover {
  background: #ddd;
  color: black;
}


a {
  width: 100%;
}

#main-message {
  font-family: 'Shrikhand', cursive;
  /* font-family: 'Fugaz One', cursive; */
}

#details-header {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 55px;
  padding-bottom: 22px;
}

.results-header {
  font-size: 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    margin:0px !important;
}

body {
  font-family: 'Questrial', sans-serif;
  color: #191919;
}

.navbar-expand-lg {
  justify-content: center;
  background-color: #368B36;
  font-family: 'Caveat', cursive;
  color: white;
}

.navbar-expand-lg h1 {
  font-size: 3rem;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  border-bottom: 0.3px solid #0C5018;
}

.jumbotron {
  background-image: url("../images/Mountain-Banner.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 750px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* #bg-fill {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
} */
.jumbotron h1 {
  font-size: 4rem;
  font-family: tenso, sans-serif;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.form-inline .form-control {
  margin-bottom: 5%;
}

#center-this {
  margin: 0 auto;
}

.form {
  border: 0.4px solid darkblue;
  font-size: 19px;
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
  width: 40%;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  letter-spacing: .5px;
}

input {
  margin-bottom: 5px;
}

.form label {
  color: white;
}

.hero-input-box {
  height: 30px;
  border: 0px;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

#cityData {
  margin-bottom: 5px;
}

#submit-button, #submit-button-two {
  width: 100%;
  margin-top: 10px;
  border: 0;
  background-color: #368B36;
  padding: 10px 0;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

#submit-button:hover {
  background-color: #40A340;
}

.form-section-small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
}

.form-section-large {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Body Content */
.body-content {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.body-content h1 {
  padding-bottom: 5px;
  /* display: block; */
  border-bottom: 3px solid #191919;
  margin: 0 auto;
  margin-bottom: 30px;
}

.trailContainer {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-left:30px;
  /* padding: 20px; */
  max-width: 1260px;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 10px;
}

.weatherContainer {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 10px;
}

.box{
  margin:0px !important;
  padding: 20px;
  border-radius: 0 0 15px 15px;
}
